@font-face {
    font-family: "Recoleta";
    src: url("../assets/Recoleta-RegularDEMO.otf");
}

* {
    color: #3b261e;
    font-family: proxima-nova, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

body {
    background-color: #f5e9d3;
}

hr {
    opacity: 0.2;
    border: .5px solid #3B261E;
}

a {
    text-decoration: none !important;
}

.text-center {
    text-align: center;
}

.separator-bold {
    border: 2px solid #cc6633;
}

.separator-light {
    border: .5px solid #cc6633;
}

.text-weight-bold {
    font-weight: bold;
}

.text-weight-normal {
    font-weight: normal;
}

.text-orange {
    color: #cc6633;
}

.text-green {
    color: #7a7e2e;
}

.nav-link {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
}

.banner-bg1 {
    background-image: url("./../assets/banner-bg1.png");
    background-repeat: no-repeat;
    height: 125px;
    position: relative;
    top: 5px;
}

.banner-bg2 {
    background-image: url("./../assets/banner-bg2.png");
    width: calc(100% + 12px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-bg3 {
    background-image: url("./../assets/banner-bg3.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 125px;
    position: relative;
    bottom: 5px;
}

.text-smoke {
    color: #f5e9d3;
}

.text-lighten {
    opacity: 0.5
}

.submission-arrow {
    height: 222px;
    position: absolute;
}

.btn {
    border: none;
    border-radius: 56px;
    transition: ease 0.2s;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.btn-green {
    color: #fff;
    background: #7a7e2e;
}

.btn-green:hover {
    background: #fff;
    color: #7a7e2e;
}

.btn-light {
    color: #4998aa;
    background: #fff;
}

.btn-light:hover {
    background: #4998aa;
    color: #fff;
}

.making-submissions-box {
    background: #3b261e;
    border: 5px solid #3b261e;
    box-sizing: border-box;
    border-radius: 16px;
    color: #f5e9d3;
}

.accordion {
    transition: ease .2s;
}

.accordion:hover {
    cursor: pointer;
    color: #cc6633;
}

.fa-caret-right {
    transition: ease .2s;
}

.accordion-active i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.faq-ans {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.justify-content-center {
    justify-content: center;
}

.align-items-end {
    align-items: flex-end;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}