body {
    background-color: #f7f7f7;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-area {
    /* min-height: 100vh; */
}

* {
    color: #eeeeee;
    border-radius: 10px 10px 10px ;

}

.bg-light {
}

.bg-dark {
    background-color:#929aab;
     ;
}

.text-center {
    text-align: center;
    color: black;
}
h2{
    color: white;
}
p{
    opacity: 50;
}
.bg-lig{
    background-color: #929aab;
}